.fundocolorido{
    background-image: linear-gradient(360deg, #66837f,#96a8a0,#F7F4DC,#FEE5D7,#cab6b8);   
}

.fit262{
    object-fit: contain;
    height: 262px;
}

.bg-bege{
    background-color: #f5f2eb;
}

.bg-arvore{
    background-image: linear-gradient(rgba(10, 10, 10, 0.788), rgba(0, 0, 0, 0.616)),url(../inde/img/plantas.jpg.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.icone{
    object-fit: contain;
    height: 60px;
}
.icone-app{
    object-fit: contain;
    height: 40px;
}